main {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}

#player-section img {
    width: 100px;
}

#player-section,
#goblin-section {
    margin: 0 auto;
    text-align: center;
}

#goblin-section {
    display: flex;
    flex-direction: column;
}

.goblin-button img {
    width: 75px;
}

#info {
    background-color: beige;
    padding: 5px;
    border: 2px solid black;
}
